.cart-container {
  padding: 20px;
  width: 100%;
  max-width: 900px;
  margin: auto;
  text-align: center;
}

.cart-img {
  width: 200px;
  margin-bottom: 20px;
}

.cart-container h1 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #3b3b3b;
}

.cart-container p {
  font-size: 16px;
  color: #616161;
}

.cart-items-list,
.cart-items-list ul {
  list-style-type: none;
  padding-left: 0px;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin: 12px 0;
  border: 1px solid #d7dfe9;
  border-radius: 8px;
  background-color: #ffffff;
}

.cart-item:hover {
  background-color: #f8faff;
  transition: 0.2s ease-in-out;
}

.cart-item-img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-right: 20px;
}

.cart-item p {
  flex-grow: 1;
  text-align: left;
  margin: 4px 10px;
  font-size: 15px;
}

.cart-item button {
  padding: 6px 10px;
  background-color: #ff0b37;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.cart-item button:hover {
  background-color: #d1002f;
}

/* MOBILE RESPONSIVE */
@media (max-width: 600px) {
  .cart-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .cart-item-img {
    margin-bottom: 10px;
  }

  .cart-item p {
    margin: 4px 0;
  }
}
