/* Write your CSS here */
.cart-summary-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #d7dfe9;
  width: 100%;
  max-width: 300px;
  margin-left: auto; /* aligns summary to the right */
  margin-top: 20px;
  font-family: Roboto;
}

.order-total-value {
  font-size: 18px;
  color: #171f46;
  margin-bottom: 8px;
  font-weight: 500;
}

.amount {
  font-size: 20px;
  font-weight: bold;
  color: #171f46;
}

.items-count {
  color: #616e7c;
  font-size: 14px;
  margin-bottom: 16px;
}

.checkout-btn {
  width: 100%;
  background-color: #0b69ff;
  border: none;
  border-radius: 6px;
  padding: 10px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.checkout-btn:hover {
  opacity: 0.9;
}
